<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../styles/stylo.css">
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
    <title>Mantenimiento</title>
</head>
<body>

    <header>
        <div class="logo">
            <img src= "../assets/Logonuevo.png" width="20%">
            <h1>Soluciones Tecnologicas</h1>
        </div>
        <nav class="nav">
            <a href="../index.html">+</a>
            <a href="1mantenimiento.html">MANTENIMIENTO</a>
            <a href="2capacitacion.html">CAPACITACION</a>
            <a href="3ventas.html">PRODUCTOS</a>
            <a href="4contacto.html">CONTACTO</a>
        </nav>
    </header>

    <main>
        <img src="../assets/FondoMa.png" width="100%"> 
        
        <div id="tipos">
       
        </div>
    
    </main>
    <footer>
        </div>
            <a href="https://wa.me/qr/FU6ESPXRB7HLO1" target="_blank"><img src="../assets/iconoWha.png" width="30%"></a>
        </div>
        <div>
            <a href="https://www.facebook.com/share/1AizXLGSGB/" target="_blank"><img src="../assets/iconofac.png" width="30%"></a>
        </div>
        <div>
            <a href="https://www.instagram.com/vanu_lindisima/profilecard/?igsh=MTZrbnp1Y3dtYXc5cg==" target="_blank"><img src="../assets/iconoInt.png" width="30%"></a>   
        </div>
        <div>
            <a href="https://www.google.com/maps/place/32%C2%B053'14.3%22S+68%C2%B050'04.7%22W/@-32.8872973,-68.8372067,17z/data=!3m1!4b1!4m4!3m3!8m2!3d-32.8872973!4d-68.8346318?hl=es&entry=ttu&g_ep=EgoyMDI1MDUyMS4wIKXMDSoASAFQAw%3D%3D" target="_blank"><img src="../assets/iconoGps.png" width="30%"></a>
        </div>
    </footer>
    
    <script src="../scrips(partelogica)/otroajax.js"></script>

</body>
</html>