*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    background-color:rgb(136, 176, 214) ;
    min-height: 10%;
    max-height: 20%; 
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.logo{
    display: flex;
    align-items: center;
    margin: 0px;
    gap: 1px;
    font-size: 40px;
    text-transform:capitalize;
}
.nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 5px;
    gap: 20px;
    font-size: 110%;
    text-transform:uppercase;
}
.nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: ghostwhite;
}
footer{
    display: flex;
    background-color: rgb(136, 176, 214);
    min-height: 10%;
    max-height: 20%;
    justify-content: center;
    align-items: center;
}


.enumerar{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: larger;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: larger;
}
.principal{
    width: 30%;
    background-color: lightseagreen;
    justify-content: center;
    max-block-size: 30%;
}
@media (max-windth: 700px) {
    header{
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
}

.formulario{
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: rgba(3, 42, 58, 0.192);
    padding: 40px;
    justify-content:center;
    border-radius: 30px;
}
.prin{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.prin a{
    border-style: dotted;
    border-width: 10px;
    border-image: round;
}
.prin a:hover{
    color: rgb(136, 176, 214);
}
.asidederecho{
    justify-content: right;
    display: block;
}
.asideizquierdo{
    justify-content: left;
    display: block;
}
.orden{text-align: center
}